

.info-box {
  width: 100%;
  max-width: 225px;
}
.address {
  font-size: 0.8em;
  color: #432293;
}
.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
#biconParent{
  cursor:pointer;
}
.bicon{
    width: 35px;
    height: 5px;
    background-color: #ddd;
    margin: 6px 0;

    }
.open {
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
#root{
height: inherit;
}
body > #root > div {
  height: inherit;
}

.container-fluid{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
#content-row{
  height:inherit;
  width:100%;
  margin:0;
  padding:0;
}
#header{
  font-size: 1em;
  background:rgb(38,38,38);
  padding:5px;
  margin: 0;
  color:white;
  text-align: center;
  border-bottom: 2px solid rgb(38,38,38);

}
#mapContainer > div > div{
  height:94%;

}

#listView,#content-row{
  background-color:rgb(0,0,0);
  margin:0;
}
#listView{
  color:#ddd;
  padding-top:5%;
}
.list-group-item:hover{
  background-color:#d6d8db;
  cursor: pointer;
}

@media screen and (min-width:500px) and (max-width:775px){

  #content-row{
    height:100%;
  }
  #header{
    width:100%;
    font-size: 1em;
    background:rgb(38,38,38);
    padding:5px;
    margin: 0;
    color:white;
    text-align: center;
    border-bottom: 2px solid rgb(38,38,38);

  }
  #listView{
    color:#ddd;
    padding-top:10%;
  }
  .info-box {
    max-width:200px;
    padding: 0 15px;

  }
  #mapContainer > div > div{
    height:94%;
  }

}


@media screen and (max-width:365px) {

  #content-row{
    height:100%;
  }
  #header{
    font-size: 1em;
    background:rgb(38,38,38);
    padding-top:3px;
    margin: 0;
    color:white;
    text-align: center;
    border-bottom: 2px solid rgb(38,38,38);
  }
  #mapContainer > div > div{
    height:91%;
  }
  #listView{
    color:#ddd;
    padding-top:20%;
  }
  #title{
    padding:2px;
  }
  .info-box {
  padding: 0 10px;
  max-width: 150px;

  }

}
